body {

    font-family: arial, "Helvetica Neue", Helvetica, "sans-serif";
    line-height: 120%;
    background-color: lightblue;
}

.container {
    width: 600px;
    margin: 0 auto;
    border-width: 5px;
    border-style: double;
    text-align: center;
    background-color: #ffff99;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
}



h1 {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

h3 {
    font-size: 15px;
    color: black;
}

h4 {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    color: white;
    font-weight: bold;
}



.col-lg-12 {
    padding-top: 2px;
    padding-bottom: 10px;
    text-align: center;
}


.col-sm-2,
.col-sm-8,
.col-sm-1 {
    height: 30px;
    background: #6AF3EA;
    border-width: 2px;
    border-style: dotted;
    color: black;
}


.col-md-5 {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}


.col-md-3 {
    height: 30px;
    padding-top: 8px;
    line-height: 50%;
    background: #45B39D;
    text-align: left;
    color: white;
}



